* {
    padding: 0;
    margin: 0;
}

a:hover {
    opacity: 0.7;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 18vh;
    padding-left: 10%;
    padding-right: 15%;
}

.logo {
    display: flex;
    
    
}


.nav-list { 
    display: flex;
    list-style: none;
    align-items: center;
    margin: -50px;
    padding: -30px;
    
}

.nav-list li {
    margin-left: 20px;
}

.menu {
    cursor: pointer;
   
}

.menu div {
    width: 35px;
    height: 2px;
    background: white;
    margin: 7px;
}

